body {
  font-family: "Inter";
  font-size: 14px;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-content: center;
}

.card {
  width: 450px;
  height: 700px;
  background-color: hsl(0, 0%, 12%);
  display: flex;
  justify-content: center;
  align-content: center;
}

.profile-pic {
  border-radius: 50%;
}

.author-name {
  color:white;
  font-size: 20px;
  font-weight: 700;
}

.city-name {
  color: hsl(75, 94%, 57%) ;
  font-size: 15px;
  font-weight: 600;
}

.description {
  color: white;
}

button {
  background-color: hsl(0, 0%, 20%);
  color: white;
  width: 300px;
  border: solid hsl(0, 0%, 20%);
  display: block;
  padding: 24px 24px;
  margin-top: 24px;
  border-radius: 10px;
}

